@page "/basic-sentence/"

<h3>Skapa ett enkelt påstående eller fråga</h3>

<EditForm Model="@CreateSentenceInput" OnValidSubmit="HandleSubmit">
    <div class="form-group">
        <label for="noun">Välj ditt subjekt</label>
        <InputSelect class="form-control" id="noun" @bind-Value="CreateSentenceInput.SubjectNounInput.Id">
            <option>Vem eller vad agerar?</option>
            @foreach (var item in Nouns)
            {
                <option value="@item.Id">@item.SingularForm</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="definiteness">Välj bestämdhet</label>
        <InputSelect class="form-control" id="definiteness" @bind-Value="CreateSentenceInput.SubjectNounInput.Definiteness">
            <option value="definite">bestämd</option>
            <option value="indefinite">obestämd</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="grammaticalNumber">Välj antal</label>
        <InputSelect class="form-control" id="grammaticalNumber" @bind-Value="CreateSentenceInput.SubjectNounInput.GrammaticalNumber">
            <option value="singular">singular</option>
            <option value="plural">plural</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="tense">Välj tempus</label>
        <InputSelect class="form-control" id="tense" @bind-Value="CreateSentenceInput.Tense">
                <option value="past">imperfekt</option>
                <option value="present">presens</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="statementOrQuestion">Välj struktur: påstående eller fråga</label>
        <InputSelect class="form-control" id="statementOrQuestion" @bind-Value="CreateSentenceInput.StatementOrQuestion">
                <option value="statement">påstående</option>
                <option value="question">fråga</option>
        </InputSelect>
    </div>
    <div class="form-group mb-2">
        <label for="verb">Välj predikat</label>
        <InputSelect class="form-control" id="verb" @bind-Value="CreateSentenceInput.Predicate.Id">
            <option>Vad görs eller händer?</option>
            @foreach (var item in Verbs)
            {
                <option value="@item.Id">@item.PresentTense</option>
            }
        </InputSelect>
    </div>
    <button class="btn btn-success" type="submit">Visa resultat</button>
</EditForm>

<div class="mt-5">
    @{
        if (!string.IsNullOrEmpty(DisplayCreatedSentence.DisplaySentence))
        {
            <p>@DisplayCreatedSentence.DisplaySentence</p>
        }
    }
</div>